.leftbar-container {
  grid-area: leftbar;
  color: var(--left-text);
  /* background-color: aquamarine; */
  font-size: 0.875em;
  font-weight: 600;
  padding-left: 1em;
  border-right: 0.12em solid var(--left-text);
}
.leftbar-container {
}
.menu-title {
  margin: 1em 0;
  font-size: 1em;
  letter-spacing: 2px;
}
.menu-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.menu-item {
  margin-bottom: 0.75em;
  display: flex;
  align-items: center;
}
.box-icon {
  /* color: red; */
  font-size: 1.6rem;
  margin-right: 0.75em;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .leftbar-container {
    /* display: none; */
    position: fixed;
    background: var(--bg);
    z-index: 500;
    height: 100vh;
    width: 100vw;
    transform: translateX(-100%);
    transition: all 0.25s ease;
  }
  .showLeftbar-container {
    transform: translateX(0);
  }
  .close-btn {
    margin: 0.8em 0 0 0;
    color: white;
    background: inherit;
    border: none;
    outline: none;
    font-size: 1.5em;
  }
}
