.title-container {
  padding-left: 1.2rem;
  padding-right: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back-type {
  flex: 1 0 auto;
  background: inherit;
  font-size: 1em;
  font-weight: 700;
  color: var(--text);
  outline: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}
.category-title {
  flex: 1 0 auto;
  font-size: 1.05rem;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
}
.divider {
  flex: 1 1 auto;
  background-color: var(--divider);
  height: 0.2em;
  width: 100%;
  margin: 0 1em;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1em;
}

.genre-container {
  overflow: hidden;
}
.all-genre {
  display: flex;
  overflow: auto;
  scroll-behavior: smooth;
}

.all-genre::-webkit-scrollbar {
  height: 0px;
}
.genre-btn {
  color: var(--text);
  border: 1px solid var(--text);
  background-color: inherit;
  cursor: pointer;
  outline: none;
  border-radius: 5em;
  padding: 0.5em 0.7em;
  margin: 0.5em;
  font-size: 0.875rem;
  flex: 1 0 auto;
}
.genre-btn:hover {
  background-color: white;
  color: black;
}
.active-genre-btn {
  background-color: white;
  color: black;
}
.search-form {
  border: 1px solid var(--title-font);
  border-radius: 5em;
  padding: 0.1em 0.45em;
  flex: 1 0 auto;
  margin: 1em;
  /* max-width: 12em; */
}
.search-input {
  background: inherit;
  border: none;
  outline: none;
  /* width: 70%; */
  color: inherit;
  font-family: inherit;
  font-weight: 700;
  /* letter-spacing: 1px; */
  padding: 0.175em 0.3em;
}
.search-btn {
  outline: none;
  border: none;
  background: inherit;
}
