.title-container {
  padding-left: 1.2rem;
  padding-right: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-title {
  flex: 1 0 auto;
  font-size: 1.05rem;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
}
.divider {
  flex: 1 1 auto;
  background-color: var(--divider);
  height: 0.2em;
  width: 100%;
  margin: 0 1em;
}
/* .scroll-btn {
  min-width: 35px;
  height: 60px;
  border-radius: 20px;
  background: #fff;
  border: 0px;
  outline: none;
  cursor: pointer;
  z-index: 200;
  margin: 10px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.08);
  transition: all 0.25s ease;
}
.scroll-btn:hover {
  transform: translate(0, -10px);
  box-shadow: 0px 17px 35px rgba(0, 0, 0, 0.07);
}
.btn i {
  font-size: 1.2rem;
} */

.movies-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1em;
}

.genre-container {
  overflow: hidden;
}
.all-genre {
  display: flex;
  overflow: auto;
  scroll-behavior: smooth;
}
.all-genre::-webkit-scrollbar {
  height: 0px;
}
.genre-btn {
  border: none;
  outline: none;
  border-radius: 5em;
  padding: 0.5em 0.7em;
  margin: 0.5em;
  font-size: 0.875rem;
  flex: 1 0 auto;
}

.search-form {
  border: 1px solid black;
  border-radius: 5em;
  padding: 0.1em 0.45em;
  flex: 1 0 auto;
  margin: 1em;
  /* max-width: 12em; */
}
.search-input {
  border: none;
  outline: none;
  /* width: 70%; */
  color: inherit;
  font-family: inherit;
  font-weight: 700;
  /* letter-spacing: 1px; */
  padding: 0.175em 0.3em;
}
.search-btn {
  outline: none;
  border: none;
  background: inherit;
}
