.category {
}
.title-container {
  padding-left: 1.2rem;
}
.category-title {
  font-size: 1.25rem;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
}
.category-title::after {
}
.title-container hr {
}
.section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(242, 243, 248);
  width: 100%;
  /* height: 100vh; */
  overflow: hidden;
}
/* .section-container::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 68px;
  bottom: 0;
  height: 71%;
  width: 150px;
  z-index: 100;
  background: linear-gradient(
    90deg,
    rgb(247, 243, 248) 0%,
    rgba(242, 243, 248, 0) 100%
  );
  pointer-events: none;
}
.section-container::before {
  content: "";
  position: absolute;
  right: 0;
  top: 68px;
  bottom: 0;
  height: 71%;
  width: 150px;
  z-index: 100;
  pointer-events: none;
  background: linear-gradient(
    90deg,
    rgba(247, 243, 248, 0) 0%,
    rgb(242, 243, 248, 1) 100%
  );
} */
.all-cards {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  overflow: auto;
  scroll-behavior: smooth;
}

.all-cards::-webkit-scrollbar {
  height: 0px;
}
.all-cards::after {
  content: "";
  display: block;
  min-width: 20px;
  position: relative;
}
.scroll-btn {
  min-width: 35px;
  height: 60px;
  border-radius: 20px;
  background: #fff;
  border: 0px;
  outline: none;
  cursor: pointer;
  z-index: 200;
  margin: 10px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.08);
  transition: all 0.25s ease;
}
.scroll-btn:hover {
  transform: translate(0, -10px);
  box-shadow: 0px 17px 35px rgba(0, 0, 0, 0.07);
}
.btn i {
  font-size: 1.2rem;
}
