.navbar-container {
  grid-area: navbar;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid var(--left-text);
}
.nav-icon {
  display: none;
}
.app-title {
  font-size: 1.2em;
  /* font-weight: bold; */
  color: var(--acc);
}
.nav-list {
  /* display: inline; */
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline;
  margin-left: 3rem;
  font-weight: 600;
  letter-spacing: 0.12em;
  color: var(--title-font);
}
.nav-item:hover {
  color: white;
}
.nav-list-color {
  color: var(--text);
}
.search-btn {
  outline: none;
  border: none;
  background: inherit;
  color: inherit;
  cursor: pointer;
  padding: 0.25em;
  border-radius: 0.25em;
  background-color: white;
  color: black;
}
.search-btn:hover {
  background-color: white;
  color: black;
  border-radius: 0.25em;
}

@media screen and (max-width: 600px) {
  .navbar-container {
    /* flex-direction: column; */
    padding: 0.4em 0em;
  }
  .nav-icon {
    display: block;
    color: white;
    background: inherit;
    border: none;
    outline: none;
    font-size: 1em;
  }
}
