.card-container {
  height: 15em;
  width: 10em;
  min-width: 160px;
  position: relative;
  border-radius: 0.5em;
  min-height: 10em;
  overflow: hidden;
  margin: 0.35em;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.vote-bar {
  display: inline-block;
  background-color: var(--bg);
  padding: 0.2em 0.2em 0.8em 0.2em;
  position: absolute;
  right: 0.3em;
  top: -100%;
  border-bottom-left-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
  transition: all 0.35s ease;
}
.card-container img {
  height: 100%;
  /* max-width: 213.33px; */
  object-fit: cover;
  transition: all 0.25s ease;
  opacity: 0.8;
  width: 100%;
}

.card-container:hover {
  cursor: pointer;
}
.card-container:hover img {
  height: 110%;
  /* max-width: 22em; */
  opacity: 1;
}
.card-container:hover .vote-bar {
  top: 0;
}

@media screen and (max-width: 600px) {
  .card-container {
    height: 7.5em;
    width: 5em;
    min-width: 7em;
  }
}
