.footer-container {
  grid-area: footer;
  border-top: 1px solid var(--left-text);
  padding: 0.2em 0;
}
.footer-container p {
  padding-left: 1em;
}
.ack {
  background: inherit;
  text-align: center;
}
