.movie-container {
  width: 100vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.movie-container img {
  height: 100%;
  object-fit: cover;
  position: fixed;
  width: 100%;
}
.layer-div {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}
.about-cont {
  position: relative;
  z-index: 10;
  color: rgba(255, 255, 255, 1);
  display: grid;
  grid-template-columns: 15em 8em 1fr 15em;
  grid-template-rows: 5em auto;
  grid-template-areas:
    ". back . ."
    ". title title videos"
    ". genre genre videos"
    ". . overview videos"
    ". . details videos"
    ". tagline tagline videos";
}
.back {
  grid-area: back;
  background: inherit;
  font-size: 1em;
  font-weight: 700;
  color: var(--text);
  outline: none;
  border: none;
  cursor: pointer;
}
.title-cont {
  grid-area: title;
  font-size: 3.5rem;
  font-weight: 700;
  text-indent: -1.25em;
  margin-bottom: 0.15em;
  /* max-width: 3ch; */
}
.overview {
  margin: 3em 0 1em 0;
  color: #bbbbbb;
  grid-area: overview;
  max-width: 50ch;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.5em;
}
.movie-details {
  grid-area: details;
  display: flex;
}
.detail {
  margin: 0 1em;
  font-weight: 700;
}
.div-border {
  height: 100%;
  width: 0.2em;
  background-color: var(--acc);
}
.tagline {
  grid-area: tagline;
  color: var(--acc);
  font-size: 2em;
  font-weight: 500;
  max-width: 50ch;
}
.videos {
  grid-area: videos;
  overflow: auto;
  padding-left: 1em;
}
.trailers {
  font-weight: 700;
  color: var(--acc);
}
.video {
  height: 6em;
  margin: 1em 0;
  width: 6em;
  border: 1px solid var(--left-text);
  border-radius: 1.5em;
  overflow: hidden;
  transition: all 0.25s ease;
}
.video img {
  height: 6em;
  width: 6em;
  position: relative;
}
.release-date {
}
.runtime {
}
.budget {
}
.vote-average {
  border-right: none;
}
.all-genres {
  display: flex;
  grid-area: genre;
}
.genre {
  margin: 0 1em;
  font-weight: 700;
  color: var(--acc);
}
.starscolor {
  color: yellow;
}
